

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/sobre"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/about/-->
		Sobre <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}

{{!Begin Menu Item}}

{{!Begin Menu Item}}
<li>
	<a href="{{@blog.url}}/contacto"> <!--Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/  Example: {{@blog.url}}/contact/-->
		Contacto <!--Change text of menu here-->
	</a>
</li>
{{!End Menu Item}}
{{!Create your next Menu Item}}